.App {
   text-align: center;
   background-image: url('./img/bg_rick_and_morty.png');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
